
<div class="mt-5">
    <h1>Clientes</h1>
    <hr>
    
    <button class="btn btn-success mb-2" [routerLink]="['/clients/add']">Agregar</button>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Razon Social</th>
                <th>Nombre Comercial</th>
                <th>RNC</th>
                <th>Teléfono</th>
                <th>Direcciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of response?.data">
                <td>{{client.socialReason}}</td>
                <td>{{client.comercialName}}</td>
                <td>{{client.rnc}}</td>
                <td>{{client.phone}}</td>
                <td class="text-center">{{client.adresses}}</td>
                <td>
                    <button [routerLink]="['/clients/',client.id]" class="btn btn-outline-primary">Ver</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>