<div class="mt-5">
    <h1>Empresas</h1>
    <hr>

    <button class="btn btn-success mb-2" [routerLink]="['/clients/add']">Agregar</button>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Razon Social</th>
                <th>Nombre Comercial</th>
                <th>RNC</th>
                <th>Teléfono</th>
                <th>Direcciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="response?.data">
                <tr
                    *ngFor="let client of response.data | paginate: {itemsPerPage: pageSize,currentPage: page,totalItems: response.total}">
                    <td>{{client.socialReason}}</td>
                    <td>{{client.comercialName}}</td>
                    <td>{{client.rnc}}</td>
                    <td>{{client.phone}}</td>
                    <td class="text-center">{{client.adresses}}</td>
                    <td>
                        <button [routerLink]="['/clients/',client.id]" class="btn btn-outline-primary">Ver</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <pagination-controls class="pagination" (pageChange)="fetch((page = $event))"></pagination-controls>

    <div class="alert alert-info" *ngIf="!response?.data?.length">
        No hay empresas registradas
    </div>

</div>