
<form [formGroup]="mainForm" (ngSubmit)="save()">

    <div class="col">
        <button (click)="add()" type="button" class="btn btn-outline-success">Agregar</button>
        <button type="submit" class="btn btn-primary ms-3" [disabled]="mainForm.invalid">
            Guardar
        </button>    
    </div>

    <div formArrayName="addressArray" *ngFor="let item of elements.controls;let i = index" >
        <div [formGroupName]="i" class="input-group mt-3">
            <input formControlName="address" type="text" class="form-control">
            <input formControlName="idClient" type="hidden">
            <input formControlName="id" type="hidden">
            <button (click)="remove(i)" class="btn btn-outline-danger" type="button" >Eliminar</button>
        </div>
    </div>

    <div *ngIf="elements.controls.length<=0" class="alert alert-info mt-2">
        No hay direcciones
    </div>
</form>

<pre>
{{mainForm.value | json}}
</pre>