<h1>Editar Empresa '{{mainForm.get('comercialName')?.value}}'</h1>
<hr>

<div class="row">
    <div class="col-6">
        <h5>Cliente</h5>
        <hr>
        <form class="row g-3" [formGroup]="mainForm" (ngSubmit)="save()">
            <div class="col-md-6">
                <label class="form-label">Nombre comercial:</label>
                <input formControlName="comercialName" type="email" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Razon Social:</label>
                <input formControlName="socialReason" type="text" class="form-control">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">RNC:</label>
                <input formControlName="rnc" type="text" class="form-control">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Teléfono:</label>
                <input formControlName="phone" type="text" class="form-control">
            </div>

            <div class="col-12">
                <button [disabled]="mainForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <h5>Direcciones</h5>
        <hr>
        <app-address *ngIf="clientId" [clientId]="clientId"></app-address>
    </div>
</div>